@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,html{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0.9rem;
    height: 80px;
}

.btns{
    display: flex;
    justify-content: space-between;
    margin: 0.9rem;
}

.logo{
    padding: 0.6rem;
}

.signup >button{
    background-color: #3A5AFF;
    text-align: center;
    width: 110px;
    height: 44px;
    border-radius: 0.3rem;
    border: none;
    color: #fff;
    filter: drop-shadow(0px 3px 1px #979797);
    font-size: large;
    padding: 2px;
    margin: 5px;
}

.login >button{
    background-color: #3A5AFF;
    text-align: center;
    width: 110px;
    height: 44px;
    border-radius: 0.3rem;
    border: none;
    color: #fff;
    filter: drop-shadow(0px 3px 1px #979797);
    font-size: large;
    padding: 2px;
    margin: 5px;
}

button:hover{
    background-color: #979797;
    color:#000;
    filter: drop-shadow(0px 3px 1px #fff);
}

.center-sec{
    display: flex;
    justify-content: space-around;
    margin: 0.9rem;
}

.text{
    text-align: center;
    height: 285px;
    width: 522px;
}

.imgonpg{
    height: 450px;
    width: 490px;
}

.text > .txt-b{
    font-weight: 900;
    font-size: 70px;
    text-align: left;
    color: #2F281E;
    padding: 8px;
    padding-bottom: 0px;
    margin: 0;
}

.text > .txt-n{
    font-weight: 200;
    font-size: 20px;
    text-align: left;
    color: #2F281E;
    padding-top: 0;
    padding: 8px;
    padding-bottom: 9px;
}